*{
    margin:0;
}
#app{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    flex-direction: column;
    height: 100px;
    background-color: rgba($color: #606060, $alpha: 0.5);
    margin-bottom: 3%;
    h1{
        font-size: 50px;
}
}

.container-outside{
    width: 220px;
    height: auto;
    margin: 2%;
    .one{
        padding: 4%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 150%;
        background-color: wheat;
        padding-bottom: 15px;
        cursor: pointer;
    }
    .description{
        font-size: 15px;
        line-height: normal;
        margin-left: 15px;
        margin-bottom: 10px;
    }

}